nav {
    color: #151515;
    font-family: 'Roboto', sans-serif;
    height: 5vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 20%;
    padding-inline: 3%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    height: 100%;

}

li {
    border: 2px solid#151515;
    width: 30%;
    display: flex;
    justify-content: center;
    height: 100%;
}

li:hover {  
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.08); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.08);
    transform: scale(1.1);
    transition:  0.5s;
}



li a {
    text-decoration: none;
    color: #151515;
    width: 100%;
    text-align: center;
}

li a:hover {
    background-color: #151515;
    color: white;
    transition: 0.5s;
}
