header {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, #151515, #17181a, #181a1e, #181e23, #162127);
    height: 10vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    padding-left: 3%;
}

h1 {
    font-size: 4vw;
}

